.LoginIn {
    left: 16%;
    position: relative;
    object-position: center;
    width: 65%;
    height: 50%;
}

.boxLoginIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.form-label {
    align-content: center;
    flex-direction: column;
    margin: 0px 4px 8px;
    color: black;

}

#emailLoginIn.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: black;
}

#passwordLoginIn.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    border-color: black;

}

button.LoginInClick {
    background-color: #00bf71;
    margin-top: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: none;
}

button.LoginInClick:not(.highlight-card) {
    cursor: pointer;
    color: #fff;
}

button.LoginInClick:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
}

.PositionButtonLoginIn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Recover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}