.LoginUp {
    left: 16%;
    position: relative;
    object-position: center;
    width: 65%;
    height: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

#nameLoginUp.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: black;
}

#emailLoginUp.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    border-color: black;
}

#passwordLoginUp.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    border-color: black;

}

button.LoginUpClick {
    background-color: #00bf71;
    margin-top: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: none;
}

button.LoginUpClick:not(.highlight-card) {
    cursor: pointer;
    color: #fff;
}

button.LoginUpClick:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
}

.PositionButtonLoginUp {
    display: flex;
    align-items: center;
    justify-content: center;
}