#Login-page {
    display: flex;
    background-color: #00bf71;

}

form.Login-user-form {
    background: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
    border: 1px solid #d3e2e5;
    border-radius: 20px;
    margin: 64px auto;
    overflow: hidden;
    padding: 64px 80px 64px 80px;
    width: 550px;
    margin-left: 493px;
    margin-bottom: 159px;
    margin-top: 100px;
}

form.Login-user-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

#nameRecover.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: black;
}

#emailRecover.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    border-color: black;
}

#passwordRecover.form-control {
    margin-top: 15px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    border-color: black;

}

button.RecoverClick {
    background-color: #00bf71;
    margin-top: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: none;
}

button.RecoverClick:not(.highlight-card) {
    cursor: pointer;
    color: #fff;
}

button.RecoverClick:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
}

.PositionButtonRecover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dados {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
}